body{
    background-color: black;
    color: white;
   font-family: IBM Plex Sans, sans-serif;
    
}

.container-geral{
    display: flex;
    background-color: #121214;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;  
    margin: auto;
    margin-top: 100px;
}

.container-logo{
    margin-top: 50px;
}

.container-perfil{
    display: flex; 
    width: 700px;  
    justify-content: space-around
}

.container-geral a{
    border: 1px solid white;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 25px;  
    font-size: 18px;  
}

.container-geral a:hover{
    background-color: white;
    color: black;
    
}
/* _______________________________________ */
.container-imagem{       
    overflow: hidden;
    border-radius: 20px; 
    text-align: center; 
    width: 160px;
    height: 160px;   
    margin: 0;  
   
}
.zoom-imagem img{
    border-radius: 10px; 
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;      
}

.zoom-imagem{
    width: 170px;
    margin-top: 10px; 
    margin: 0;   
}

.zoom-imagem img:hover{       
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    
  }
  
.container-imagem:hover{
    border: 1px solid white;    
}

h3{
   color: white;
   margin-top: 20px;   
   text-align: center;   
   
}

#add-perfil:hover{
    background-color: rgba(255, 255, 255, 0.237);
}